body {
    background-color: teal;
    color: black;
    margin: 0;
}

.hero-section {
    font-size: x-large;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.hero-section img {
    width: 300px;
    height: 300px;
    border: 5px black solid;
    border-radius: 50px;
    display: block;
    margin: 0 auto 50px;
}

.cta-button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #333;
    cursor: pointer;
}


.about-section {
    background-color: white;
    color: black;
    padding: 60px 20px;
    text-align: center;
}

.about-section h2{
    font-size: 2em;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.about-content img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid black;
    object-fit: cover;
}

.about-content p {
    max-width: 500px;
    font-size: 1.1em;
    line-height: 1.6;
}

.skills-section {
    background-color: #f4f4f4;
    color: black;
    padding: 60px 20px;
    text-align: center;
}

.skills-section h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.skills-group {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    margin: 0 0 5px;
    font-weight: bold;
}

.skill-bar {
    background-color: #ddd;
    border-radius: 10px;
    height: 20px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    border-radius: 10px;
}

.skill-level.html {
    width: 90%;
    background-color: orange;
}

.skill-level.css {
    width: 50%;
    background-color: dodgerblue;
}

.skill-level.js {
    width: 10%;
    background-color: gold;
}