body {
    background-color: teal;
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hero-section {
    font-size: x-large;
    width: 800px;
    text-align: center;
}

.hero-section img {
    width: 300px;
    height: 300px;
    border: 5px black solid;
    border-radius: 50px;
    display: block;
    margin: 0 auto 50px;
}

.cta-button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #333;
    cursor: pointer;
}