body {
    margin: 0;
    font-family: Arial;
    scroll-behavior: smooth;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff7e6;
}

.hero-content {
    max-width: 50%;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff914d;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff6a00;
}

.hero-image img{
    width: 400px;
    border-radius: 20px;
}