html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff7e6;
}

.hero-content {
    max-width: 50%;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff914d;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #ff6a00;
}

.hero-image img{
    width: 400px;
    border-radius: 20px;
}

.features-section {
    padding: 60px;
    background-color: #fff3d6;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 40px;
}

.feature-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.feature-box {
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature-box:hover {
    transform: translateY(-10px);
}

.feature-box img {
    width: 120px;
    margin-bottom: 15px;
}

.feature-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.feature-box p {
    font-size: 16px;
}

.product-showcase-section {
    padding: 60px;
    text-align: center;
    background-color: #fff7e6;
}

.section-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    color: #444;
}

.color-options {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #555;
}

.beige { background-color: #f5deb3; }
.pink { background-color: #ff9ecb; }
.choco { background-color: #6f3e2c; }

.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.product-item {
    width: 250px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.pricing-section {
    padding: 60px;
    text-align: center;
    background-color: #fff3d6;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.price-box {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.price-box:hover {
    transform: translateY(-10px);
}

.price-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.price {
    font-size: 40px;
    margin-bottom: 5px;
    color: #ff6a00;
}

.desc {
    margin-bottom: 15px;
}

.popular {
    border: 3px solid #ff914d;
}

.popular-tag {
    background-color: #ff914d;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

small {
    display: block;
    margin-top: 15px;
    color: #555;
    font-size: 14px;
}

.testimonials-section {
    padding: 60px;
    text-align: center;
    background: #fff7e6;
}

.reviews-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.review-card {
    background: white;
    width: 250px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.review-card:hover {
    transform: translateY(-10px);
}

.review-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review-card h3{
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
}

.stars {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ff914d;
}

.comment {
    font-size: 16px;
    color: #555;
}